.chart-color1 {	color: #4e73df!important; }

.chart-color2 {	color: #1cc88a!important; }

.chart-color3 { color: #36b9cc!important; }

.chart-color4 { color: #e74a3b!important; }

.chart-color5 { color: #f6c23e!important; }

.blank_height{
	height:370px;
}

/*.legend-pipe-img {position:absolute;right:20px;z-index:9;padding:5px;}
.display_map_image.card-body {position:relative;z-index:10;}
.legend-pipe-img h6 {font-size:11px;color:#000;}*/

/*.chart-color6 { color: #36b9cc!important; }*/


@media(max-width:437px){
    .navbar-nav h6 {font-size:13px}
}

/*@media(max-width:767px){
   .sidebar li.blank_height {height:500px;}
   .sidebar li:last-child img {height: 60%;}
}
@media(max-width:680px){
   .sidebar li.blank_height {height:700px;}
   .sidebar li:last-child img {height:auto !important;}
}*/